# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.dist-info/
build/
dist/

# Env files
.env
.env.*

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage reports
htmlcov/
.coverage

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# C extensions
*.so